In [1]:
import pandas as pd
out=pd.read_csv("../../input/out.csv")
stacknet=pd.read_csv("../../input/stacknet_70_seed12357_30.csv")
only_xgb=pd.read_csv("../../input/only_xgb.csv")

In [2]:
df=pd.merge(out,stacknet,on='test_id',how='left')
df=pd.merge(df,only_xgb,on='test_id',how='left')

In [3]:
df.head()

   test_id  is_duplicate_x  is_duplicate_y  is_duplicate
0        0        0.006486        0.009400      0.017317
1        1        0.016820        0.464951      0.412361
2        2        0.021364        0.490696      0.598686
3        3        0.002360        0.001775      0.002016
4        4        0.401288        0.318658      0.445482

In [4]:
df.loc[:,'is_duplicate']=df.is_duplicate_x*0.68+df.is_duplicate_y*0.22+df.is_duplicate*0.10

In [6]:
df[['test_id','is_duplicate']].to_csv("../../input/combine.csv",index=False)